header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-image: -webkit-linear-gradient(  rgb(76, 50, 138), rgb(113, 49, 218) );
    color:  rgb(255, 255, 255) ;
    font-size: large ;
}
